@{
    Layout = "_MainLayout";
}

<nav>
    <ul>
        <li><a class="reports" asp-controller="Investigator" asp-action="StartInvestigator">Start(Ärenden)</a></li>
        <li class="right"><a class="logout" asp-controller="Home" asp-action="Login">Logga ut</a></li>
    </ul>
</nav><!-- End Nav -->

<div id="content">
    @RenderBody()

    <footer>
        &copy; Småstads Kommun All rights reserved.
    </footer>
</div><!-- End Content -->