@{
    Layout = "_CoordinatorLayout";
}

<h2>Detaljer för ärendet</h2>
	<p class="info">Du är inloggad som samordnare</p>

	@await Component.InvokeAsync("CaseDetails", ViewBag.Id)

	<section id="bottomColumn">
		<h3>Redigera ärende</h3>
		<p>Ange enhet: 
			<select name="department">
				<option selected="selected">Välj</option>

				@foreach (var department in Model)
				{
					<option value="@department.DepartmentID">@department.DepartmentName</option>
				}
			</select>
		</p>
		<p><input class="button" type="submit" value="Spara" /></p>
	</section>